@font-face{
    font-family: "another shabby";
    src:url(fuentes/Anothershabby.ttf);
  }

  @font-face {
    font-family:"aller" ;
    src: url(fuentes/Aller-Bold.woff);
  }

  * {
    font-family: 'Aller';
  }

  h2{
    font-family: 'another shabby';
    color: #DC901B;
  }
  
  .Navegador{
      background-image: url(img/img0.jpg);
      background-position: 20% 30%;
    }

    .navbar{
      background-color: transparent !important;
    }

    .icono{
      color: #FDF7E7;
      margin-left: 10px;
    } 

    .dropdown-menu{
      border-radius: 20px; 
    }

    .dropdown-menu li :hover{
      background-color: #B41E1E;
      border-radius: 10px;
    }
  /***********************ESTILOS DE CONTACTO*********************/
  .tarjetas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 5em;
  }
   
  .cards{
    height: 400px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr); 
  }

  .paypal{
    display: grid;
    grid-template-columns:  1fr ;
    grid-row: inherit;
  }

  .button{
    text-align: center;
    text-decoration: none;
    color: #FDF7E7;
    width: 300px;
    font-size: large;
    margin-bottom: 50px;
    background: #DC901B;
    border-radius: 15px;
    border: none;
  }

  .preciosDonacion{
    border: dashed 2px grey;
    padding:15px;
    border-radius: 15px;
    text-align: center; 
  }
  
  .datosBanco{
    border: dashed 2px grey;
    padding:10px;
    border-radius: 15px;
    height: 140px;
  }
  .fas, .fab{
    color: #DC901B;
    font-size: xx-large;
    text-decoration: none;
  }
 
  .voluntario{
    height: 350px;
    width: 100%;
    background:#ffe365;

  }
