      /*------------------  QUIENES SOMOS---------------*/
      
p, h3 {
  color: grey;
}
  
.recuadro {    
  text-align: center;
  letter-spacing: 5px;
  color: grey;
}
    
.container-video {
  width: 90%;
  padding-bottom: 46.25%;
  height: 0;
  overflow: hidden;
  position: relative;
}

iframe {
  position:absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
}
  
  
  