* {
    font-family: 'Aller';
  
  }
  
  @font-face{
      font-family: "another shabby";
      src:url(fuentes/Anothershabby.ttf);
    }
    @font-face {
      font-family:"aller" ;
      src: url(fuentes/Aller-Bold.woff);
    }
  /*   .color-white{
      color: #FDF7E7 !important;
    } */
    
    h2 {
      font-family: 'another shabby';
      color: #DC901B;
      
    }
    
    .Navegador{
        background-image: url(img/Flea.png);
      
        height: 650px;
      }
      .navbar{
        background-color: #000;
      }
      .icono{
        color: #FDF7E7;
        margin-left: 10px;
      } 
      .dropdown-menu{
        border-radius: 20px;
        
      }
      .dropdown-menu li :hover{
        background-color: #B41E1E;
        border-radius: 10px;
      }
      
      /*------------------BODY---------------*/
      
      p, h3{
          color: grey;
      }
  
  .recuadro{    
      text-align: center;
      letter-spacing: 5px;
      color: grey;
  }
    
  .container-video{
    
    width: 90%;
    padding-bottom: 46.25%;
    height: 0;
    overflow: hidden;
    position: relative;
  }
  iframe{
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
  }
  
  
  