* {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}


/*Footer*/

.footer-social {
    background-color: #eaeaea;
    width: 100%;
}

.footer-social div a i {
    font-size: 30px;
    color: #707070;
}

.footer-lists ul {
    list-style: none;
}

.footer-lists h3 {
    color: #707070;
    font-family: "Aller";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.footer-lists a h3 {
    display: none;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #707070;
}

.footer-lists a,
.footer-lists p {
    font-family: "Aller";
    color: #707070;
    text-decoration: none;
    font-size: 14px;
}

.logo img {
    width: 80%
}

@media (max-width:905px) {
    .footer-lists li,
    .line {
        display: none;
    }
    .logo-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem !important;
        padding-bottom: 2rem !important;
    }
    .footer-lists a h3 {
        display: block;
        text-decoration: none;
        color: #707070;
        font-size: 1.3rem;
        margin-left: 0.5rem !important;
        margin-right: 0.3rem !important;
    }
    .delete {
        display: none;
    }
}

@media (max-width:575px) {
    .footer-lists a h3 {
        margin-top: 0.5rem !important;
    }
}


/*Footer*/