body {
    background-color: #fdf7e7;
    font-family: 'Aller';
}

h1 {
    font-family: 'Boxing Wizards';
    color: #dc901b;
    font-size: 2.4rem;
}

.line-servicios {
    width: 100%;
    height: 2px;
    background-color: #d5c9b0;
}

.line-servicios-2 {
    display: block;
    width: 60%;
    height: 1.5px;
    background-color: #dc8f1bab;
}

@media (max-width: 768px) {
    .line-servicios-2 {
        display: none;
    }
}

p,
h4 {
    font-size: 14px;
}

.servicios-2 h4,
.servicios-2 p,
.servicios-5 h4,
.servicios-5 p {
    color: #fdf7e7;
}

.servicios-2 .card,
.servicios-5 .card {
    background-color: #dc901b;
    border-radius: 35px;
}

.servicios-2 .card {
    height: 200px;
}

.servicios-5 .card {
    height: 210px;
}

.servicios-3 img {
    max-width: 100%;
    width: 100%;
}

.servicios-3 .item {
    display: block;
    margin: 15px 0;
}

.servicios-4,
.servicios-posadero {
    background-color: #f4ebd7;
}

.servicios-voluntario {
    background-color: #fdf7e7;
}

.servicios-voluntario button {
    color: white;
}