    * {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }
    
    .prueba {
        border: 1px solid red;
    }
    /*body-home*/
    
    .home {
        background-color: #f7f7e7;
    }
    
    .home h2 {
        font-family: 'Boxing Wizards';
        color: #b41e1e;
        font-size: 2.4rem;
    }
    
    .contenido-home-donar,
    .contenido-posadero {
        background-color: #f3f3f3;
        color: #707070;
    }
    
    .contenido-mapa {
        color: #707070;
    }
    
    .contenido-home-donar h3,
    .contenido-home-donar button,
    .contenido-home-donar p {
        font-family: 'Aller';
        font-weight: bolder;
    }
    
    .line {
        width: 400px;
        justify-content: center;
        height: 2px;
        background-color: #707070bc;
    }
    
    .card {
        -webkit-box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        text-align: center;
        font-family: "Aller";
        background-color: #f3f3f3;
        height: auto;
    }
    
    @media (max-width:768px) {
        .line {
            display: none !important;
        }
        h3 {
            margin-top: 2rem !important;
        }
    }
    
    .card h5,
    .card h4 {
        font-weight: bold;
        color: #707070;
    }
    
    .card p {
        font-size: small;
        color: #707070;
    }
    
    .card button {
        color: #f3f3f3;
    }
    
    .card i {
        -webkit-box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 29px -27px rgba(0, 0, 0, 0.75);
        color: #de8e03;
        font-size: 1.5rem;
        border-radius: 50%;
        padding: 1.8rem !important;
        background-color: white;
    }
    
    .card .curso p {
        font-size: 0.8rem;
    }
    
    .card h4 {
        font-size: small;
    }
    
    .card a {
        color: #707070;
    }
    
    .contenido-posadero,
    .contenido-posadero h3,
    .contenido-mapa h3 {
        font-family: 'Aller';
        font-weight: bold;
        text-align: center;
    }
    
    .contenido-posadero h3,
    .contenido-mapa h3 {
        font-size: 2rem;
    }
    
    .contenido-posadero p {
        font-size: 1rem;
        font-weight: normal;
    }
    /*body-home*/